<h1 class="header">Data List</h1>
<div class="table-block">
    <div class="options">
        <label-input label="Filter" [(value)]="filterValue" placeholder="Type here any text to find rows that match" (input)="onFilterValueChange()" />
    </div>
    <table table-component class="table"
        [displayedColumns]="[
            {width: '10rem', name: 'Creation Date', keyName: 'creation_date'},
            {width: '10rem', name: 'Name', keyName: 'name'},
            {width: '10rem', name: 'DNI', keyName: 'dni'},
            {width: '10rem', name: 'Birth Date', keyName: 'birth_date'},
        ]"
        [items]="listData"
    >
    </table>
</div>
