<h1>Data List</h1>
<table class="table">
    <thead>
        <tr>
            <th [style]="{width: '10rem'}">Creation Date</th>
            <th [style]="{width: '10rem'}">Name</th>
            <th [style]="{width: '10rem'}">DNI</th>
            <th [style]="{width: '10rem'}">Birth Date</th>
        </tr>
    </thead>
    <tbody>
        @if (listData == null) {
            <spinner-widget class="spinner" />
        }
        @else {
            @for (item of listData; track getDateValue(item.creation_date)) {
                <tr>
                    <td>{{item.creation_date}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.dni}}</td>
                    <td>{{item.birth_date}}</td>
                </tr>
            }
            @empty {
                <div class="emptylist-message">List is empty</div>
            }
        }
    </tbody>
</table>
<div class="link">
    <a routerLink="/home">Go to Home</a>
</div>
