:host {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;

  & > .header {
    align-self: center;
  }

  & > .table-block {
    margin: auto;

    & > .table {
      display: block;
      height: 400px;
      overflow: auto;
    }
  }

  & > .link {
    align-self: flex-end;
  }
}

.header {
  background-color: #60f;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.table-block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #212844;
  border: solid 2px #446383;
}

.link {
  padding: 0.6rem;

  background-color: #3d3d3d;
  border-radius: 0.4rem;
  box-shadow:
    0 0 5px 1px #fff7,
    0 0 1px 1px #0005 inset
  ;
}
