:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & > .header {
    align-self: center;
  }

  & > .table {
    margin: auto;
    height: 150px;
  }

  & > .link {
    align-self: flex-end;
  }
}

.header {
  background-color: #60f;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.link {
  padding: 0.6rem;

  background-color: #3d3d3d;
  border-radius: 0.4rem;
  box-shadow:
    0 0 5px 1px #fff7,
    0 0 1px 1px #0005 inset
  ;
}
