:host {
  display: block;

  & > label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > input {
      outline: none;

      background-color: #0072b6;
      border: solid 2px #fff;
      padding: 0;
      padding-block: 0.4rem;
      padding-inline: 0.8rem;

      font-size: 1rem;

      &:focus-visible {
        background-color: #0a4d75;
      }

      &::placeholder {
        color: #ddd;
      }
    }
  }
}
