:host {
  display: block;

  & > label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > input {
      outline: none;

      background-color: #0072b6;
      border: solid 2px #fff;
      padding: 0;
      padding-block: 0.4rem;
      padding-inline: 0.8rem;

      font-size: 1rem;

      &:focus-visible {
        background-color: #0a4d75;
      }

      &::placeholder {
        color: #ddd;
      }

      /* Trick to be able to set custom `background-color` on `input:autofill` */
      &:autofill {
        --box-shadow-autofill-bg: 0 0 0 100px var(--background-color) inset;
        --box-shadow: 0 0;
        box-shadow:
          var(--box-shadow),
          var(--box-shadow-autofill-bg)
        ;
      }

      &:autofill {
        --background-color: #008763;

        &:focus-visible {
          --background-color: #015f46;
        }
      }
    }
  }
}
