:host {
  display: block;
  max-width: 100%;

  & > label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > input {
      &:not([type="file"]) {
        outline: none;
      }

      background-color: var(--input-background-color, #0072b6);
      border: solid 2px #fff;
      padding: 0;
      padding-block: 0.4rem;
      padding-inline: 0.8rem;

      font-size: 1rem;

      &:not([type="file"]):focus-visible {
        background-color: var(--input-background-color-focus, #0a4d75);
      }

      &::placeholder {
        color: var(--placeholder-color, #ddd);
      }

      /* Trick to be able to set custom `background-color` on `input:autofill` */
      &:autofill {
        --box-shadow-autofill-bg: 0 0 0 100px var(--background-color) inset;
        --box-shadow: 0 0;
        box-shadow:
          var(--box-shadow),
          var(--box-shadow-autofill-bg)
        ;
      }

      &:autofill {
        --background-color: #008763;

        &:focus-visible {
          --background-color: #015f46;
        }
      }

      &[type="file"] {

        &::-webkit-file-upload-button {
          all: unset;

          margin-right: 0.5rem;
          padding: 0.5rem;
          background-color: #0a3a85;
          border-radius: 0.2rem;
          box-shadow: 2px 2px 3px 0 #000;
        }

        @media (hover: hover) {
          &:hover::-webkit-file-upload-button {
            background-color: #1e5bba;
          }
        }

        &:focus-visible::-webkit-file-upload-button {
          background-color: #1752ad;
        }

        &:active::-webkit-file-upload-button {
          background-color: #00265d;
        }
      }
    }
  }
}
