:host {
  display: flex;
  flex-direction: column;
  
  & > .form {
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    margin: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;

  padding: 1rem;

  background-color: #344154;
  border-radius: 0.5em;

  & > .input {

  }

  & > .button {

  }
}

.input {

  & > label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > input {
      outline: none;

      background-color: #0072b6;
      border: solid 2px #fff;
      padding: 0;
      padding-block: 0.4rem;
      padding-inline: 0.8rem;
    
      font-size: 1rem;

      &:focus-visible {
        background-color: #0a4d75;
      }
    }
  }
}

.button {
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: #00a473;

  @media (hover: hover) {
    &:hover {
      background-color: #2bdca7;
    }
  }

  &:active {
    background-color: #087a58;
  }

  /* @media (hover: none) {
    &:active {
      background-color: #087a58;
    }
  } */

  &:focus-visible {
    background-color: #2bdca7;
  }
}
