<h1 class="header">Register Form</h1>
<form class="register-form" (submit)="onFormSubmit($event)">
    @if (isLoading) {
        <spinner-widget class="spinner" />
    }
    <div class="input">
        <label>
            <div>Email</div>
            <input type="email" name="email">
        </label>
    </div>
    <div class="input">
        <label>
            <div>Password</div>
            <input type="password" name="password">
        </label>
    </div>
    <button class="button" type="submit">Sign Up</button>
    <span class="info">
        Already have an account?
        <br>
        <a routerLink="/login">Log In</a>
    </span>
    <google-log-in role="button" tabindex="0" (click)="onGoogleSignUpStart()" (success)="onGoogleSignUpSuccess()" (error)="onGoogleSignUpError($event)">Sign Up with Google</google-log-in>
</form>
