<h1 class="header">Register Form</h1>
<form class="register-form" (submit)="onFormSubmit($event)">
    @if (isLoading) {
        <spinner-widget class="spinner" />
    }
    <label-input label="Email" type="email" name="email" />
    <label-input label="Password" type="password" name="password" />
    <button class="button" type="submit">Sign Up</button>
    <span class="info">
        Already have an account?
        <br>
        <a routerLink="/login">Log In</a>
    </span>
    <google-log-in role="button" tabindex="0" (click)="onGoogleSignUpStart()" (success)="onGoogleSignUpSuccess()" (error)="onGoogleSignUpError($event)">Sign Up with Google</google-log-in>
</form>
