<h1 class="header">Send Data to Database</h1>
<form class="form" (submit)="onFormSubmit($event)">
    @if (isLoading) {
        <spinner-widget class="spinner" />
    }
    <label-input label="Name" type="text" name="name">
        <span slot="label" style="color: #f00;">*</span>
    </label-input>
    <label-input label="DNI" type="text" name="dni">
        <span slot="label" style="color: #f00;">*</span>
    </label-input>
    <label-input label="Birth Date" type="date" name="birth_date">
        <span slot="label" style="color: #f00;">*</span>
    </label-input>
    <div class="photo">
        <label-input label="Photo" type="file" name="photo_file" accept="image/*" [value]="webcamFile" />
        <button class="webcam-btn" type="button" (click)="requestWebcamScreenShotHandler()">
            <img width="35" height="35" src="/assets/webcam.svg" alt="webcam" draggable="false">
        </button>
    </div>
    <button class="button" type="submit">Send Data</button>
</form>
