:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & > .header {
    align-self: center;
  }

  & > .form {
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    margin: auto;
  }

  & > .link {
    align-self: flex-end;
  }
}

.header {
  background-color: #60f;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.link {
  padding: 0.6rem;

  background-color: #3d3d3d;
  border-radius: 0.4rem;
  box-shadow:
    0 0 5px 1px #fff7,
    0 0 1px 1px #0005 inset
  ;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;

  padding: 1rem;

  background-color: #344154;
  border-radius: 0.5em;

  position: relative;

  & > .spinner {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }
}

.input {

  & > label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > input {
      outline: none;

      background-color: #0072b6;
      border: solid 2px #fff;
      padding: 0;
      padding-block: 0.4rem;
      padding-inline: 0.8rem;

      font-size: 1rem;

      &:focus-visible {
        background-color: #0a4d75;
      }
    }
  }
}

.button {
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: #00a473;

  @media (hover: hover) {
    &:hover {
      background-color: #2bdca7;
    }
  }

  &:focus-visible {
    background-color: #2bdca7;
  }

  &:active {
    background-color: #087a58;
  }

  /* @media (hover: none) {
    &:active {
      background-color: #087a58;
    }
  } */

  &.-log-out {
    background-color: #b32a2a;

    @media (hover: hover) {
      &:hover {
        background-color: #eb4848;
      }
    }

    &:focus-visible {
      background-color: #eb4848;
    }

    &:active {
      background-color: #8b0f0f;
    }
  }
}

.info {
  padding-inline: 1rem;
  transform: translateX(-1rem);

  & > .button {
    margin-top: 0.5rem;
  }
}
