<h1>Send Data to Database</h1>
<form class="form" (submit)="onFormSubmit($event)">
    @if (isLoading) {
        <spinner-widget class="spinner" />
    }
    <div class="input">
        <label>
            <div>Name</div>
            <input type="text" name="name">
        </label>
    </div>
    <div class="input">
        <label>
            <div>DNI</div>
            <input type="text" name="dni">
        </label>
    </div>
    <div class="input">
        <label>
            <div>Birth Date</div>
            <input type="date" name="birth_date">
        </label>
    </div>
    <button class="button" type="submit">Send Data</button>
    <div class="info">
        Do you want to log out?
        <button class="button -log-out" type="button" (click)="logOut()">Log Out</button>
    </div>
</form>
