<h1 class="header">Send Data to Database</h1>
<form class="form" (submit)="onFormSubmit($event)">
    @if (isLoading) {
        <spinner-widget class="spinner" />
    }
    <label-input label="Name" type="text" name="name" />
    <label-input label="DNI" type="text" name="dni" />
    <label-input label="Birth Date" type="date" name="birth_date" />
    <button class="button" type="submit">Send Data</button>
    <div class="info">
        Do you want to log out?
        <button class="button -log-out" type="button" (click)="logOut()">Log Out</button>
    </div>
</form>
<div class="link">
    <a routerLink="/data-list">Go to table</a>
</div>
