<h1 class="header">Login Form</h1>
<form class="register-form" (submit)="onFormSubmit($event)">
    @if (isLoading) {
        <spinner-widget class="spinner" />
    }
    <label-input label="Email" type="email" name="email" />
    <label-input label="Password" type="password" name="password" />
    <button class="button" type="submit">Log in</button>
    <span class="info">
        Do you need to create an account?
        <br>
        <a routerLink="/register">Sign Up</a>
    </span>
    <google-log-in role="button" tabindex="0" (success)="onGoogleLogInSuccess()" (error)="onGoogleLogInError($event)">Log In with Google</google-log-in>
</form>
