body {

  & > app-root {
    width: 100%;
    height: 100%;
  }
}


app-root {

  & > [data-page-component] {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

::selection {
  background-color: #1a1a1ab5;
}

a {
  color: #00b6ff;

  &:visited {
    color: #c164ff;
  }

  &:hover {
    text-decoration-line: underline;
  }
}
