<thead>
    <tr>
        @for (column of displayedColumns; track $index) {
            <th [style]="{width: column.width}">{{column.name}}</th>
        }
    </tr>
</thead>
<tbody>
    @if (items == null) {
        <spinner-widget class="spinner" />
    }
    @else if (isError(items)) {
        <div class="message -error">An error happened while fetching the data</div>
    }
    @else {
        @for (item of items; track track ? item[track] : item) {
            <tr>
                @for (value of getItemValues(item); track $index) {
                    <td>{{value}}</td>
                }
            </tr>
        }
        @empty {
            <div class="message">List is empty</div>
        }
    }
</tbody>
