:host {
  background-color: #2c5ba2;
  background-color: #3e75c8;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px #fff9 inset;
  border-spacing: 2px 0.7rem;

  padding-inline: 0.8rem;
  padding-block: 0.5rem;

  & > :is(thead, tbody) > tr {

    & > :is(th, td) {
      text-align: start;
      padding: 0.7rem;

      &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }

      &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }
    }
  }

  & > thead > tr {
    background-color: #171f2e;
  }

  & > tbody > tr {

    background-color: #003f6d;

    /* &:nth-child(2n + 1) {
      background-color: #67a6ea;
    }

    &:nth-child(2n) {
      background-color: #2ccaa0;
    } */
  }
}


:host {

  & > tbody {
    position: relative;

    & > .spinner {
      position: absolute;
      inset: 0;
      margin: auto;
    }

    & > .message {
      position: absolute;
      inset: 0;
      margin: auto;

      display: grid;
      place-items: center;

      &.-error {
        color: #fc1f1f;
        font-weight: bold;
      }
    }
  }
}


.action {
  padding: 0.6rem;
  border-radius: 0.4rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  background-color: #a9089e;
  box-shadow: 2px 2px 4px 0px #0009;

  @media (hover: hover) {
    &:hover {
      background-color: #d629ca;
    }
  }

  &:focus-visible {
    background-color: #d629ca;
  }

  &:active {
    background-color: #7c0674;
  }
}
