:host {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;

  padding: 0.7rem;

  background-color: #244764;
  border-radius: 0.3rem;
  box-shadow: 0 0 4px 0 #64c6ff inset;

  & > .table-wrapper {
    flex-grow: 1;
  }

  & > .pagination-menu {
    
  }
}

.table-wrapper {

  & > .table {
    height: 100%;
  }
}

.table {
  outline: solid 2px #64a2ff;
  background-color: #3e75c8;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px #fff9 inset;
  border-spacing: 2px 0.7rem;

  padding-inline: 0.8rem;
  /* padding-block: 0.5rem; */

  &.-scrollable {
    display: block;
    overflow: auto;
  }

  & > :is(thead, tbody) > tr {

    & > :is(th, td) {
      text-align: start;
      padding: 0.7rem;

      &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }

      &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }
    }
  }

  & > thead {
    position: sticky;
    top: 0;
    z-index: 10;

    & > tr {
      background-color: #171f2e;
    }
  }

  & > tbody {

    & > tr {
      position: relative;
      background-color: #003f6d;

      /* &:nth-child(2n + 1) {
        background-color: #67a6ea;
      }

      &:nth-child(2n) {
        background-color: #2ccaa0;
      } */

      & > td {
        padding-block: 0.5rem;
      }
    }
  }
}

.table {

  & > tbody {
    position: relative;

    & > .spinner {
      position: absolute;
      inset: 0;
      margin: auto;
    }

    & > .message {
      position: absolute;
      inset: 0;
      margin: auto;

      display: grid;
      place-items: center;

      &.-error {
        color: #fc1f1f;
        font-weight: bold;
      }
    }
  }
}


.action {
  padding: 0.6rem;
  border-radius: 0.4rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  background-color: #a9089e;
  box-shadow: 2px 2px 4px 0px #0009;

  @media (hover: hover) {
    &:hover {
      background-color: #d629ca;
    }
  }

  &:focus-visible {
    background-color: #d629ca;
  }

  &:active {
    background-color: #7c0674;
  }
}


.pagination-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > .page-button {
    padding: 0.3rem;
    padding-inline: 0.6rem;

    background-color: #1678d4;
    border-radius: 0.4rem;

    @media (hover: hover) {
      &:hover {
        background-color: #3e9cf3;
      }
    }

    &:focus-visible {
      background-color: #3e9cf3;
    }

    &:active {
      background-color: #003464;
    }
  }
}
